@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
button {
    background-color: #313131;
    border: 3px solid white;
    transition: all 2s;
} button:hover {
    background-color: #191919;
    border-color: aqua;
    border-radius: 4px;
    transition: all 2s;
}
body {
    background-color: #191919;
    font-family: 'Roboto';
    font-size: 30px;
    animation: fadeIn 5s;
    font-family: Roboto, sans-serif;
} p {
    color:white;
}
img {
    position: absolute;
    margin-left: 50px;
    transition: all 1s;
    border: dashed white 3px;
}
img:hover {
    border: none;
    outline: 5px dashed white;
    box-shadow: 0 0 0 5px #767676;
}
h1 {
    color: white;
    background: linear-gradient(90deg, rgba(240,0,218,1) 28%, rgba(0,212,255,1) 100%);
    text-align: center;
}